.inite {
  font-size: 11px;
  margin-bottom: 3px;
}
.dataPad li{
  list-style-type: none;
  color: #fff;
  background-color: #5DDBB5;
  padding: 5px;
  height: 30px;
  font-size: 18px;
  margin-bottom: 3px;

}
.hidenData {
  display: none;
  height: 50px;
}
.dataPad:hover .hidenData{
  display: block;
}
.dataPad ul {
  list-style:none;
}
.startBtn {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background: #fff;
  border-radius: 4px;
  border: solid 5px #3bb16f;
  background-color: #3bb16f;
  display: block;
  font-size: 16px;
  color: #fff;
  margin: auto;
  padding: 1rem;
  text-decoration: none;
}
.startBtn:hover {
  background: #EB5767;
  border: solid 5px #EB5767;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.settingText {
  padding: 10px;
  border: solid 5px #3bb16f;
  box-shadow: inset 0 0 0 1px #fff;
  transition: box-shadow 0.3s, border 0.3s;
  font-family: courier;
  font-size: 12px;
}
.settingText:hover {
  border: solid 5px #EB5767;
}
.container {
  padding-left: 11%;
  width: 72%;
  float:left;
  margin: 10px;
  margin-left: 5%;
  height:80%;
}
.showData {
  float:left;
  background-color: #5DDBB5;
  width: 20%;
  height: 80%;
  margin: 10px;
  border: solid 5px #fff;
  text-align: center;
}

.title {
  width: 100%;
  height:15%;
  margin: 10px;
  padding-left: 30%;
  padding-top: 10px;
}
#canvas {
  width: 800;
  height:800;
  background-color: #fff;
}
* {
  font-family: courier;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-color: floralwhite;
}

.menu {
  width: 250px;
  height: 100%;
  position: fixed;
  background-color: #5DDBB5;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 0;
  z-index: 50;
  overflow-y: auto;
  padding-bottom: 100px;
}

.menu.closed { left: -250px; }

#toggle {
  background-color: #5DDBB5;
  height: 100%;
  min-height: 100%;
  width: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0px;
  z-index: 25;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

#toggle:hover { cursor: pointer; }

#toggle.closed {
  left: 0px;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
}

.content {
  width: 100%;
  height: 100%;
  margin-left: 0px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.content.closed .text {
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
}

.text {
  width: 60%;
  margin: auto;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  margin-top: 80px;
  margin-bottom: 80px;
}

h1,
h2 { color: #444; }

p { color: #444; }

p img {
  float: left;
  margin: 15px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 30px 0 0 30px;
  padding-right: 40px;
}

.menu ul li {
  color: floralwhite;
  font-size: 20px;
  margin: 0 0 10px 0;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu ul li:hover {
  cursor: pointer;
}

#wrapper {
  height: 100%;
  min-height: 100%;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#wrapper.closed { position: fixed; }

hr {
  border: none;
  height: 1px;
  background-color: seagreen;
  position: relative;
  width: 90%;
  margin-left: 0;
}

hr:before {
  content: "/";
  display: block;
  top: -8px;
  left: -5px;
  position: absolute;
  color: seagreen;
}
 *::-moz-selection {
 background-color: #1b5233;
 color: floralwhite;
}

*::selection {
  background-color: #1b5233;
  color: floralwhite;
}
